fastapi
uvicorn
PyMuPDF      
python-docx
python-multipart           
extract-msg          
beautifulsoup4         
requests
python-dotenv   
langchain
langchain-google-genai
sentence-transformers
torch
faiss-cpu
langchain-community
httpx           
tqdm
